<img class="side-logo" src="app/assets/images/Bobbin1.png">
<div class="container col s12 m4 l8" ng-init="init()">
  <!-- <div class="progress-container">
    <div class="progress">
      <div class="indeterminate"></div>
    </div>
  </div> -->
  <h3>{{ project.title }}</h3>
  <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img materialboxed class="materialboxed responsive-img" ng-src="{{ project.img }}">
        </div>
        <div class="card-content">
          <p>{{ project.description }}</p>
          <p><a href="{{ project.url }}" target="_blank">{{ project.url }}</a></p>
        </div>
        <div class="card-action">
          <i class="material-icons" ng-click="toEditProjectView()">mode_edit</i>
          <!-- DELETE MODAL TRIGGER -->
          <i class="material-icons" data-target="deleteProjectModal" modal>highlight_off</i>
          <i class="material-icons icon-black print-icon" ng-click="printSupplyList()">print</i>
          <i class="material-icons" ng-click="emailShare(project)">email</i>
        </div>
      </div>
      <div id="deleteProjectModal" class="modal">
        <div class="modal-content">
          <p>Are you sure you want to delete this project? It will be gone forever!</p>
          <button type="submit" class="waves-effect light-blue btn modal-close yes-modal"
          ng-click="deleteProject(project)">Yes</button>
          <button type="button" class="waves-effect red btn modal-close no-modal" ng-click="NoBackBtn()">No</button>
        </div>
      </div>

      <div class="row">
        <!-- track by $index is tracking each item by index to allow dupes and prevent dupe error-->
        <div class="col s4 project-photo-container" ng-repeat="photo in project.photos track by $index">
          <div materialboxed class="materialboxed responsive-img project-photo" ng-style="{'background-image':'url(' + photo + ')'}">
            <!-- <ul class="list-item-image-tools hover-display" data-action="list-tools">
              <li class="tool-delete" data-action="delete">
                <i class="material-icons hover-display right" ng-click="deletePhoto(project, $index)">delete_forever</i>
              </li>
            </ul> -->
          </div>
        </div>
      </div>
      <div class="col">
        <i class="material-icons upload-photo" ngf-select="uploadPhoto($file, project)" accept="image/jpg, image/png">add_a_photo</i>
        <!-- <button type="button" class="btn waves-effect btn-create light-blue" ngf-select="uploadPhoto($file, project)" accept="image/jpg, image/png"> Upload Photo
        </button> -->
      </div>

      <!-- <photo-gallery-component></photo-gallery-component> -->
    </div>

  <!-- SUPPLY LIST -->
    <div class="col s12 m6">
      <div class="card">
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Supply List</span>
            <div ng-if="!project.supplies.length">
              <button class="btn waves-effect light-blue" data-target="addSuppliesModal" modal>Add Items</button>
            </div>
            <form ng-if="project.supplies.length">
              <p ng-repeat="item in project.supplies">
                <!-- checkboxes are marked completed done is true -->
                <!-- grabs index of the array from ng-repeat; id & for -->
                <input type="checkbox" id="{{$index}}" class="filled-in" ng-model="item.done" ng-change="toggleSupplyItem(project)" />
                <label for="{{$index}}">{{item.name}}</label>
                <!-- DELETE MODAL TRIGGER -->
                <i class="material-icons icon-red delete-items" data-target="deleteItemModal" modal>highlight_off</i>
              </p>
            </form>
            <div class="card-action">
              <!-- <i class="material-icons" ng-click="deleteProject(project)">highlight_off</i> -->
              <!-- <i class="material-icons" ng-click="emailShare(project)">email</i> -->
            </div>
        </div>
      </div>
      <div id="deleteItemModal" class="modal">
        <div class="modal-content">
          <p>Are you sure you want to delete this item? It will be gone forever!</p>
          <button type="submit" class="waves-effect light-blue btn modal-close yes-modal"
          ng-click="deleteItem(project, $index)">Yes</button>
          <button type="button" class="waves-effect red btn modal-close no-modal" ng-click="NoBackBtn()">No</button>
        </div>
      </div>
    </div>
  </div>

<!-- Add Supply Items Modal -->
<div id="addSuppliesModal" class="modal">
  <div class="modal-content">
    <div class="card project-form">
      <h4>Add Supply Items</h4>
      <form>
        <!-- dynamically repeating supplyfield by field.id -->
        <div class="input-field" ng-repeat="field in supplyFields">
          <label for="item-name">Item Name</label>
          <!-- creates a new field on enter event -->
          <input id="{{field.id}}" type="text" class="validate" ng-model="field.itemName" ng-keyup="addNextItem($event)">
        </div>
        <br />
        <button type="button" class="waves-effect light-blue btn modal-close" ng-click="saveSupplyList(project)">Done</button>
        <button type="button" class="waves-effect blue-grey lighten-5 black-text btn modal-close" ng-click="clearForm()">Cancel</button>
      </form>
    </div>
  </div>
</div>

