<div class="row">
    <div class="col s12 m8">
    <form>
      <div>
        <div input-field>
          <label for="project-title">Edit Project Title</label>
          <input placeholder="Edit Project Title" id="project-title" type="text" class="validate">
        </div>
        <div input-field>
          <label for="supply-title">Edit Supply Title</label>
          <input placeholder="Edit Supply List" id="supply-title" type="text" class="validate">
        </div>
        <br><br>
        <a class="waves-effect light-blue btn" class="btn btn-default">Submit</a>
        <a class="waves-effect light-blue btn" class="btn btn-default">Cancel</a>
      </div>
    </form>
    </div>
  </div>
