body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

.main-nav {
  margin-bottom: 50px;
}

.logo-img {
  margin: 0 600px;
  width: 275px;
}

.brand-logo, a.brand-logo {
  font-family: 'Lily Script One', cursive;
  font-size: 40px;
  margin-left: 20px;
}

.login-padding {
  margin-top: 40px;
}

.auth-form {
  margin-bottom: 40px;
}

// LOADING PROGRESS BAR
// .progress-container {
//   height: 200px;
//   position: absolute;
//   top: 50%;
//   width: 65%;
//   background-color: white;
//   height: 180px;
//   z-index: 100;
//   padding: 81px;
//   left: 20%;
//   /* right: 50%; */
//   margin: 0 auto;
//   border-radius: 2px;
//   box-shadow:  0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
// }

// .loading-overlay {
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   background-color: rgba(0, 0, 0, 0.53);
//   z-index: 99;
//   height: 1250px;
// }

.delete-items {
  font-size: 18px;
  position: relative;
  top: 3px;
}

.card-wrapper {
  text-align: center;
}

.btn-create, .btn-profile {
  margin: 15px;
}

.modal {
  max-height: 100%;
}

.profile-photo {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  border-radius: 50% !important;
  margin: 0 auto;
  margin-top: 30px;
  width: 15% !important;
}

.material-icons {
  padding-left: 10px;
}

// .list-item-image-tools {
//   position: absolute;
//   top: 0;
//   opacity: 0;
// }

.hover-display:hover, li.hover-display:hover, i.project-photo:hover {
  // height: 145px;
  // left: 0;
  opacity: 0.8;
  padding-left: 0 !important;
  // width: 98%;
}

.hover-display, li.hover-display {
  opacity: 0;
  padding-left: 0 !important;
}

// .right {
//   float: none 0 !important;
// }

i.right {
  margin-left: 0;
  padding-left: 0 !important;
}

i.icon-black {
  color: black;
}

i.icon-red {
  color: red;
}

.project-form {
  padding: 20px;
}

.quote {
  font-family: 'Arvo', serif;
  font-size: 18px;
}

.word-pop {
  font-family: 'Lily Script One', cursive;
}

.nav-wrapper, .page-footer {
  background: #00acc1;
}


.project-photo-container {
  margin-bottom: 22px;
  .project-photo {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    width: 100%;
  }
}

.page-footer {
  height: 64px;
  margin-top: 47px;
  padding-top: 10px;
  text-align: center;
  .footer-copyright {
    height: 80%;
    text-align: center;
  }
}
