body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.logo-img {
  height: 56px;
  line-height: 56px;
}

.modal {
  max-height: 100%;
}

.profile-photo {
  width: 15% !important;
  border-radius: 50% !important;
}

.material-icons {
  padding-left: 10px;
}

i.icon-black {
  color: black;
}

.gmail-icon {
  width: 50% !important;
}

// i.icon-grey {
//   color: grey;
// }

// .card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
//   color: black;
//   font-size: 14px !important;
//   padding-bottom: 5px;
// }

.project-form {
  padding: 20px;
}

.nav-wrapper, .page-footer {
  background: #00acc1;
}

.footer-copyright {
  height: 80%;
  text-align: center;
}
