body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.main-nav {
  margin-bottom: 50px;
}

.logo-img {
  margin: 0 600px;
  width: 275px;
}

.brand-logo, a.brand-logo {
  font-family: 'Lily Script One', cursive;
  font-size: 40px;
  margin-left: 20px;
}

.p-padding {
  margin-top: 40px;
}

.auth-form {
  margin-bottom: 40px;
}

.delete-items{
  font-size: 18px;
  margin-top: 5px;
}

.btn-create, .btn-profile {
  margin: 15px;
}

.modal {
  max-height: 100%;
}

.profile-photo {
  border-radius: 50% !important;
  margin-left: 20px;
  margin-top: 30px;
  width: 15% !important;
}

.material-icons {
  padding-left: 10px;
}

i.icon-black {
  color: black;
}

i.icon-red {
  color: red;
}

.project-form {
  padding: 20px;
}

.quote{
  font-family: 'Arvo', serif;
  font-size: 18px;
}

.word-pop {
  font-family: 'Lily Script One', cursive;
}

.nav-wrapper, .page-footer {
  background: #00acc1;
}

.footer-copyright {
  height: 80%;
  text-align: center;
}
