<div class="row">
  <div class="col s12 m8">
  <h3>{{title}}</h3>
  <form>
    <div>
      <div input-field>
        <label for="project-title">Create Project Title</label>
        <input placeholder="Create a Project Title" id="project-title" type="text" class="validate" ng-model="project.title">
      </div>
      <div class="input-field">
        <label for="imageUrl">Image URL</label>
        <input id="imageUrl" type="text" class="validate" ng-model="project.img">
      </div>
      <div class="input-field">
        <label for="description">Description</label>
        <input id="description" type="text" class="validate" ng-model="project.description">
      </div>
      <div class="input-field">
        <label for="URL">URL</label>
        <input id="URL" type="text" class="validate" ng-model="description.url">
      </div>
      <div input-field>
        <label for="supply-title">Create Supply Title</label>
        <input placeholder="Create a Supply List" id="supply-title" type="text" class="validate" ng-model="project.supplylist">
      </div>
      <div input-field>
        <label for="project-photos">Add Photos</label>
        <input placeholder="Add project photos" id="project-photos" type="text" class="validate" ng-model="project.photos">
      </div>
      <br><br>
      <a class="waves-effect light-blue btn" class="btn btn-default" ng-click="submitProject()">{{submitButtonText}} Submit</a>
      <a class="waves-effect light-blue btn" class="btn btn-default">Cancel</a>
    </div>
  </form>
  </div>
</div>


<!-- project cards -->
<div class="row">
  <div class="col s12 m4">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <!-- <a href="#"><img ng-src=""></a> -->
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Project Title</span>
        <p>description</p>
        <p><a href="#">Project Link</a></p>
        <div class="style-icon" id="editProject"><a href="#"><i class="material-icons">mode_edit</i>Edit Project</a></div>
        <div class="style-icon" id="deleteProject"><a href="#"><i class="material-icons">highlight_off</i>Delete Project</a></div>
      </div>
    </div>
  </div>
</div>

<!-- <i class="material-icons right">more_vert</i> -->
