<div class="container col s12 m4 l8" ng-init="init()">
  <div class="card project-form">
    <h3>Edit Project</h3>
    <form ng-submit="updateProject(project)">
      <div  class="input-field">
        <label for="project-title">Project Title</label>
        <input id="project-title" type="text" class="validate" ng-model="project.title">
      </div>
      <div class="input-field">
        <label for="imageUrl">Image URL</label>
        <input id="imageUrl" type="text" class="validate" ng-model="project.img">
      </div>
      <div class="input-field">
        <label for="description">Description</label>
        <input id="description" type="text" class="validate" ng-model="project.description">
      </div>
      <div class="input-field">
        <label for="URL">Tutorial URL</label>
        <input id="URL" type="text" class="validate" ng-model="project.url">
      </div>
      <div class="input-field">
        <label for="supply-title">Supply Title</label>
        <input id="supply-title" type="text" class="validate" ng-model="project.supplylist">
      </div>
      <div class="input-field">
        <label for="project-photos">Add Photos</label>
        <input id="project-photos" type="text" class="validate" ng-model="project.photos">
      </div>
      <br><br>
      <button type="submit" class="waves-effect light-blue btn">Update Project</button>
      <button type="button" class="waves-effect btn blue-grey lighten-5 black-text" ng-click="backBtn()">Back</button>
    </form>
  </div>
</div>
