<img class="side-logo" src="app/assets/images/Bobbin1.png">
<div class="container col s12 m4 l8" ng-init="init()">
  <div class="card project-form">
    <h3>Edit Project</h3>
    <form>
      <div  class="input-field">
        <label for="project-title">Project Title</label>
        <input id="project-title" type="text" class="validate" ng-model="project.title">
      </div>
      <div class="input-field">
        <label for="imageUrl">Image URL</label>
        <input id="imageUrl" type="text" class="validate" ng-model="project.img">
      </div>
      <div class="input-field">
        <label for="description">Description</label>
        <input id="description" type="text" class="validate" ng-model="project.description">
      </div>
      <div class="input-field">
        <label for="URL">Tutorial URL</label>
        <input id="URL" type="text" class="validate" pattern="http?://.+" ng-model="project.url">
      </div>
      <!-- <div class="input-field">
        <label for="supply-title">Supply Title</label>
        <input id="supply-title" type="text" class="validate" ng-model="project.supplylist">
      </div> -->
      <!-- <div class="input-field">
        <label for="project-photos">Add Photos</label>
        <input id="project-photos" type="text" class="validate" ng-model="project.photos">
      </div> -->

      <h4>Edit Supply List</h4>

      <div class="input-field" ng-repeat="supply in project.supplies">
        <!-- <label for="item-name">Item Name</label> -->
        <input type="text" class="validate" ng-model="supply.name">
        <label for="item-name">Item Name</label>
      </div>

      <div class="input-field" ng-repeat="field in supplyFields">
        <input id="{{field.id}}" type="text" class="validate" ng-model="field.itemName" ng-keyup="addNextItem($event)">
        <label for="item-name">New Item Name</label>
      </div>
        <h4>Edit Project Photos</h4>
        <!-- <button type="button" class="btn waves-effect btn-create light-blue" ngf-select="uploadPhoto($file, project)" accept="image/jpg, image/png">
          Upload Photo
        </button> -->
        <i class="material-icons upload-photo" ngf-select="uploadPhoto($file, project)" accept="image/jpg, image/png">add_a_photo</i>
        <div class="row">
          <div class="col s12 m6">
            <div class="row">
              <div class="col s4 project-photo-container" ng-repeat="photo in project.photos track by $index">
                <div class="col project-photo" ng-style="{'background-image':'url(' + photo + ')'}">
                  <ul class="list-item-image-tools hover-display" data-action="list-tools">
                    <li class="tool-delete" data-action="delete">
                      <i class="material-icons hover-display right" ng-click="deletePhoto(project, $index)">delete_forever</i>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      <br />
      <br />
      <button type="button" class="waves-effect light-blue btn" ng-click="updateProject(project)">Update Project</button>
      <button type="button" class="waves-effect btn blue-grey lighten-5 black-text" ng-click="backBtn()">Back</button>
    </form>
  </div>
</div>
<!-- changed to button instead of submit to avoid duplicating input-fields -->
