<img class="side-logo" src="app/assets/images/Bobbin1.png">
<div class="container col s12 m4 l8" ng-init="init()">
  <div class="row">
    <div class="col s12 m12">
      <div class="card card-wrapper">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="profile-photo" ng-src="{{user.photoURL}}">
        </div>
        <div class="card-content">
          <p>Name: {{user.displayName}}</p>
          <p>Email: {{user.email}}</p>
          <!-- <button ng-click="edit()" class="btn btn-info waves-effect light-blue">Edit Profile</button> -->
          <button ng-click="logOut()" class="btn btn-info btn-profile waves-effect light-blue">Log out</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="btm-quote col s6 offset-s8">
    <p class="quote">There should be an eight day of the week called,</p>
    <h2 class="word-pop">Sewday</h2>
    <p class="quote">where all you do is sew all day long.</p>
  </div>
</div>

